.headerDiv {
    border: 1px solid black;
    background-color: darkcyan;
    width: 100%;
    height: 12%;
    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0;
    bottom: 0;
}

h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: rgb(237, 237, 237);
}

body text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sideDiv {
    width: 25%;
    height: 86%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainDiv {
    width: 74%;
    height: 86%;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#searchArea {
    text-align: center;
}

#searchArea button {
    color: black;
    font-size: 16px;
    background-color: lightgrey;
    border: 1.5px black solid;
    width: 30%;
}

#searchArea button:hover {
    color: white;
    background-color: darkcyan;
    transition-duration: 1s;
}



#prevSearched {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
} /* vertically stacked using flexbox */


#searchArea {
    height: 20px;
    width: 100%;
    position: relative;
}

#todaysForecast {
    border: 1px solid black;
    height: 40%;
    width: 100%;
    position: relative;
    line-height: 1.6;
}

#todaysIcon {
    margin-right: 20px;
    position: relative;
}

#futureForecastContainer {
    height: 58%;
    width: 100%;
    padding-top: 10px;
    position: relative;
    margin-bottom: 0;
    display: flex;
}

.futureForecastDivs {
    border: 1px solid black;
    flex-grow: 1;
    height: 100%;
    bottom: 0;
    line-height: 1.6;
}

.futureForecastDivs + .futureForecastDivs {
    margin-left: 1%;
}

.futureForecastDivs img {
    position: relative;
    width: 80%;
}

#prevSearched {
    text-align: center;
}

#prevSearched button {
    color: black;
    font-size: 16px;
    background-color: lightgrey;
    border: 1.5px black solid;
    width: 80%;
}

#prevSearched button:hover {
    color: white;
    background-color: darkcyan;
    transition-duration: 1s;
}